html, body, table {
  margin: 0;
  border-width: 0;
  font-family: Arial, sans-serif;
  font-size: 20px;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}

img {
  padding: 0;
  display: block;
  margin: 0 auto;
  max-height: 100%;
  max-width: 100%;
}

#question {
  width: 80%;
  margin-top: 20px;
}

#question img {
  padding-top: 10px;
}

#question td {
  vertical-align: top;
  text-align: left;
  width: 25%;
  padding: 8px;
}

#question .q {
  font-size: 25px;
  background-color: #f3f3f3;
  font-style: normal;
  padding-bottom: 30px;
}

#question tr:nth-child(even){
  background-color: white;
}

#question tr:hover {
  background-color: transparent;
}

.navigation {
  width: 100%;
  height: 50px;
}

.contestant-wrapper {
  margin-top: 20px;
  margin-bottom: 20px;
}

.contestant-wrapper td {
  padding: 10px;
}

.contestant td {
  text-align: center;
  font-size: 20px;
  padding: 0;
  margin: 0;
}


.current:link {
   padding-right: 100%;
}

.previous:link {
   padding-right: 100%;
}

.next:link {
   padding-left: 100%;
}

.previous td {
  width: 50%;
}

.next td {
  width: 50%;
  text-align: right;
}


a:link, a:visited {
  background-color: #efefef;
  color: white;
  padding: 0;
  padding-top: 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:active {
  text-decoration: none;
  color: inherit;
}

.favourite {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 50%;
  font-size: 15px;
  text-align: left;
}

.favourite td {
  padding: 5px;
}

.fav-color {
  width: 5%;
}

.fav-n {
  width: 5%;
  text-align: center;
}

.fav-text {
  width: 90%;
  text-align: left;
}

.header {
  color: white;
  font-size: 70px;
  text-align: center;
  margin-bottom: 20px;
  padding: 5px;
}

.final td {
  padding: 5px;
}

.badges {
  margin-left: 0;
}

.badges td {
  padding: 10px;
  padding-top: 0;
  padding-left: 0;
}

.badges p {
 font-size: 20px;
 vertical-align: top;
 padding-bottom: 10px;
 margin: 0;
}

.leaderboard {
  max-height: 500px;
}
